In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("./data/transactions.csv")

C:\Users\maxro\AppData\Local\Temp\ipykernel_20372\3186242752.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/transactions.csv")

In [20]:
df

,transaction_id,timestamp,amount,currency,sender_account,receiver_account,sender_country,sender_municipality,receiver_country,receiver_municipality,transaction_type,notes
0,f2f3b0fc-b7d7-4d85-b682-cbf07ef77c1a,2025-03-06 12:04:00,7746.03,SEK,SE8902EWFT80524424320740,SE8902ZUIH32054423564254,Sweden,Karlskrona,Sweden,Eskilstuna,outgoing,Online purchase
1,feccbd1e-7752-4452-a44a-901510252561,2025-03-31 01:37:00,45193.04,SEK,SE8902GTSI58472323675409,SE8902ERNA19462716907689,Sweden,Piteå,Sweden,Norrköping,outgoing,Tax refund
2,bc6a480c-e2e1-434d-830c-1cda3f913038,2025-04-29 22:58:00,33029.71,SEK,SE8902SEZT63377163386089,SE8902LOLQ30361773270969,Sweden,Östersund,Sweden,Karlskoga,incoming,Tax refund
3,b832aa2c-77f3-4c4f-9697-9776b8d74abb,2025-02-27 14:52:00,35994 .61,SEK,SE8902MGEE43594824630478,SE8902XIVG18316797897983,Sweden,Karlstad,Sweden,Helsingborg,incoming,NaN
4,0d32c6ef-508e-4f5d-bc64-341a0a9f498d,2025-01-03 22:29:00,32229.73,SEK,SE8902SZWO66860675966705,SE8902SUUS97732018069804,Sweden,Skellefteå,Sweden,Falun,outgoing,Tax refund
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,ea7e0cb2-fadb-496c-962b-7e54a5cfa1bc,2025-02-03 17:00:00,146.04,USD,GB39XHRG15445191862019,SE8902AQYT55466061009593,Mauritania,Jacksonville,Sweden,Nyköping,outgoing,Gift to family member
99996,4271c3c0-d3be-49f5-8154-ee60e2a1e582,2025-01-07 14:00:00,56.98,USD,GB97OHYP64183530899251,SE8902AQYT55466061009593,Guinea,Waltersport,Sweden,Skellefteå,incoming,NaN
99997,23574238-9739-4af4-a823-5b699812db4d,2025-05-11 13:00:00,128.34,USD,GB68PWPH34390331224741,SE8902AQYT55466061009593,Tokelau,Davidfurt,Sweden,Luleå,incoming,Gift to family member
99998,38e785ff-e460-419e-af07-595f5c67aaf6,2025-02-02 13:00:00,149.13,USD,GB30NDUZ96025046626638,SE8902AQYT55466061009593,Bulgaria,West Andrewside,Sweden,Skellefteå,outgoing,Loan repayment
99999,94e5a276-d5ce-40f6-b17c-97885b455bbd,2025-05-09 15:00:00,41.77,USD,GB64JUMJ42347315082570,SE8902AQYT55466061009593,Latvia,Crawfordfort,Sweden,Varberg,outgoing,NaN

In [47]:
df.currency.drop_duplicates()

0         SEK
99        SKR
287       SEK
288      SEK
10006     DKK
10024     USD
10031     EUR
10045     NOK
10388     RMB
10552     ZAR
10754     GBP
12753     ZMW
13681     JPY
Name: currency, dtype: object

### Currency

Det finns 10 olika currency
- SEK
- SKR (Samma som SEK/Fel stavat)
- DKK (1,46 SEK) SEK (0.69 DKK)
- USD (9,68 SEK) SEK (0.10 USD)
- EUR (10.89 SEK) SEK (0.092 EUR)
- NOK (0.94 SEK) SEK (1.06 NOK)
- RMB (1.34 SEK) SEK (0.74 RMB)
- ZAR (0.54 SEK) SEK (1.86 ZAR)
- GBP (12.94 SEK) SEK (0.077 GBP)
- ZMW (0.36 SEK) SEK (2.80 ZMW)
- JPY (0.067 SEK) SEK (14.95 JPY)

Vad behöver vi ändra på?
- Vi behöver ändra på de felaktiga värdena i currency "SRK", " SEK" och "SEK "
- Timestamp kolumn har felaktiga värden (standrad är yyyy-mm-dd hh:mm:ss
- Ta bort " " på amount